<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bartosz.ribbit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    >
    <permission android:protectionLevel="signature"
                android:name="com.example.bartosz.ribbit.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.bartosz.ribbit.permission.C2D_MESSAGE" />
;
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Utilities.RibbitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.SignUpActivity"
            android:parentActivityName=".UI.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.RecipientsActivity"
            android:label="@string/title_activity_recipents"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.EditFriendsActivty"
            android:label="@string/title_activity_edit_friends_activty"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.RecipientsActivity2"
            android:label="@string/title_activity_recipients2"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ViewImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.EditFriendsActivity2"
            android:label="@string/title_activity_edit_friends2"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bartosz.ribbit.UI.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />


                <category android:name="com.example.bartosz.ribbit" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_push_notification"/>
    </application>

</manifest>
